
:root {
    --background-image: url("../images/logo-large-device.png");
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    padding-block: 20px;
    position: absolute;
    bottom: 0px;
}

h1 {
    margin: 0px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5172ff;
    text-align: center;
}

h1 ~ p {
    margin-block: 10px 60px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #5172ff;
}

button:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

footer > img {
    width: 70px;
    height: auto;
    cursor: pointer;
}

footer > div {
    display: flex;
    align-items: center;
}

footer > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > p {
    margin: 0px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer > div > p {
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-weight: bold;
}

footer > div > div > p:first-child {
    margin-bottom: 8px;
}

footer > div > div > p:last-child {
    cursor: pointer;
}

footer > div > div > p:last-child:hover {
    color: #5172ff;
}

.vl {
    border-left: 1px solid black;
    height: 3vw;
    margin-inline: 40px;
}

body > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5172ff;
    font-size: 70px;
    margin-bottom: 50px;
}

body > div > div > div {
    margin-inline: 40px;
}

body > div > div > div > p {
    margin: 0px;
}

body > div > p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(85, 85, 85);
}

/* MEDIA QUERIE */

@media (max-width: 700px) {
    footer > div > p,
    .vl {
        display: none;
    }

    body > div > div > div {
        margin-inline: 30px;
    }
}

@media (max-width: 550px) {
    body > div > div > div {
        margin-inline: 20px;
    }

    h1 {
        font-size: 60px;
    }
    
    h1 ~ p {
        font-size: 12px;
    }

    
    body > div > p {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    button {
        width: 80%;
    }

    body > div > div > div {
        margin-inline: 20px;
    }

    h1 {
        font-size: 45px;
    }
    
    h1 ~ p {
        font-size: 10px;
    }

    
    body > div > p {
        font-size: 10px;
    }
}

/* FIM */